/* Put your CSS rules here: */

.picture_container {
	background-color: black;
}

.creepy_picture {
	padding: 10px 10px 0 0;
	border: 10px solid blue;
}
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.tiled_container > div {
	background-color: white;
	height: 10px;
	border-top: 5px; 
	border-bottom: 5px;
	border-color: black;
	border-style: solid;
}

/* These are for the exercise, please don't edit them! */
html,body{margin:0;padding:0;}
body{font-family:sans-serif;}
.content{width:980px;padding:10px;}
